 <div class="card">
    <a href="/post">
    <div class="image">
      <img src="http://placehold.it/300x300">
    </div>
    </a>
    <div class="content">
      <div class="header"><a href="/post">Sample Card</a></div>
      <div class="meta">
        <a>Marketing, Post category</a>
      </div>
      <div class="description">
        This is the first active-reusable component of the website.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Shared 1 hour ago
      </span>
      <span>
        <i class="user icon"></i>
        75 Views
      </span>
    </div>
  </div>