<div class="ui secondary pointing menu main-menu">
  <a class='{{IsActive .State "/"}} item' href="/">
    Home
  </a>
  <a class="item">
      Academy
  </a>
  <a class="item">
      SEO Analyzer
  </a>
  <a class="item" href="/url-short">URL Shortener</a>
  
  <!--
   <div class="ui dropdown item">
    <i class="dropdown icon"></i>
    Tools
    <div class="menu">
      <a class="item">SEO Analyzer</a>
      <a class="item" href="/url-short">URL Shortener</a>
      <a class="item">Super Tools</a>
    </div>
  </div> -->
 
  <div class="right menu">
    <a class="ui item">
      Login
    </a>
    <a class="ui item">
        Join
    </a>
  </div>
</div>